@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary: #abdddc;
$secondary: #a2cc78;
$font-family-base: 'Poppins', sans-serif;
$headings-font-family: 'Poppins', Arial, sans-serif;
$primary-text-emphasis: #92bebe;
$link-color: #737373;
$link-decoration: none;
$secondary-text-emphasis: #89ab68;
$primary-bg-subtle: rgba(171, 221, 220, 0.1);
$secondary-bg:  rgba(62, 204, 120, 0.5);
$secondary-bg-subtle: rgba(62, 204, 120, 0.1);
$primary-bg:rgba(red($primary), green($primary), blue($primary), 0.3);
$body-color: #737373;
$table-striped-bg:$secondary-bg-subtle;

body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.text-normal {
  color: $body-color !important;
}

.text-primary {
  color: $primary-text-emphasis !important;
}

.text-secondary {
  color: $secondary-text-emphasis !important;
}
//Nav
.navbar-nav {
  .nav-link {
    color: $link-color;
    font-weight: 500;
    transition: color 0.3s ease;
    text-decoration: $link-decoration;
    font-size: 1.2rem;      
    padding: 0.8rem 2rem; 
    &.active,
    &[aria-current="page"] {
      font-weight: 700;
    }
    &[aria-current="page"]::before {
      content: "•";
      color: $secondary;
      margin-right: 0.3rem;
    }

    &:hover, 
    &:focus {
      color: lighten($link-color, 15%);
      text-decoration: $link-decoration;
    }

    &[aria-disabled="true"] {
      pointer-events: none;
      cursor: default;
    }
  }
}
//botón tipo hamburguesa
button.navbar-toggler:hover,
button.navbar-toggler:focus
{
  background-color:$secondary-bg-subtle;     
  box-shadow: 0 0 5px $secondary;
} 
button.navbar-toggler, button.navbar-toggler:active{
  background-color: $secondary-bg-subtle;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: none !important;
}

.logo {
  height: 100px;
  width: auto;
  vertical-align: middle;
}

//Iconos de las redes sociales del footer
.social-icons i {
  color: $link-color;
  transition: color 0.3s ease;
  font-size: 2rem;

  &:hover,
  &:focus {
    color: lighten($link-color, 15%);
  }
}
// Enlaces del footer
.list-unstyled li a {
  color: $link-color;
  transition: color 0.3s ease;
  text-decoration: $link-decoration;

  &:hover,
  &:focus {
    color: lighten($link-color, 15%);
    text-decoration: $link-decoration;
  }

  &.active {
    color: $link-color;
  }
}
//Buscador
form.d-flex {
  max-width: 300px; // ancho máximo
  width: 100%;
  align-items: center;
  position: relative;

  .form-control {
    border-radius: 30px;
    border: 1px solid $primary-bg;
    padding: 0.5rem 1.5rem;
    font-family: $font-family-base;
    color: $primary-text-emphasis;
    background-color: $primary-bg;
    transition: all 0.3s ease;
    &::placeholder {
      color: lighten($primary-text-emphasis, 10%);
      opacity: 1;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(red($secondary), green($secondary), blue($secondary), 0.3);
      border-color: $secondary;
    }
  }

  .btn-search {
    position: absolute;
    right: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    border: none;
    background-color: $secondary;
    color: white;
    padding: 0.5rem 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      background-color: darken($secondary, 10%);
      transform: translateY(-50%) scale(1.05);
    }

    i {
      font-size: 1rem;
    }
  }
}
//cards de la página principios activos
.card-custom {
  width: 100%;
  max-width: 350px;          
  border-radius: 1rem;
  background-color: #f5fbfb; // color suave de fondo
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: $font-family-base;
  .card-img-top-custom {
    width: 100%;
    height: 200px;   // puedes ajustar la altura
    object-fit: cover;  // llena el área recortando si es necesario
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  .card-body {
    padding: 1.5rem;
    h5 {
      color: $secondary-text-emphasis;
      font-weight: 700;
      margin-bottom: 0.75rem;
      font-size: 1.25rem;
    }

    p {
      
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }

    .btn-read-more {
      background-color: $secondary;
      color: white;
      border: none;
      padding: 0.5rem 1.5rem;
      border-radius: 30px;
      font-weight: 600;
      transition: background-color 0.3s ease;

      &:hover,
      &:focus {
        background-color: darken($secondary, 10%);
        color: white;
      }
    }
  }
}

//Tabla stripped con pestañas de la página recomendados
.table-zone {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;  
    padding-right: 0;
    margin-right: 0;
}

.table-zone .table-responsive {
    overflow-x: auto !important;
    max-width: 100vw !important;
}

.table-mobile {
    width: 100%;
    table-layout: auto;
    white-space: nowrap;
} 
table.table-custom{
  width: 100%;
  border-collapse: collapse;
  font-family: $font-family-base;
  color:$body-color;
  text-align: center;
  thead {
    color: $secondary-text-emphasis;
    th {
      color:$body-color;
      font-weight: 700;
      border: 1px solid lighten($secondary-bg-subtle, 20%);
    }
  }
  tbody{
    td {
      color: $body-color;
      border: 1px solid lighten($primary-bg-subtle, 20%);
      vertical-align: middle;
      white-space: normal; 
    }
   
    tr td:last-of-type a {
      color: $primary-text-emphasis;
    }
    tr:nth-of-type(even){
      background-color: $table-striped-bg !important;

    }
  }
}
//formulario de contacto de la página de contacto
.contacto {
  .contact-form {
    label {
      font-weight: 600;
    }

    .form-control {
      border-radius: 10px;
      background-color: $primary-bg-subtle;
      color: $body-color;

      &:focus {
        border-color: $secondary;
        box-shadow: 0 0 5px rgba($primary, 0.4);
      }
    }
    button.btn-primary {
      background-color: $secondary;
      border: none;
      border-radius: 30px;
      color: white;
      &:hover {
        background-color: darken($secondary, 10%);
      }
    }
  }
}
//Imágenes de la sección de la página principal
img.image_section {
  width: 100%;
  max-height: 300px;
  max-width: 550px;    
  object-fit: cover;      
  object-position: center;
}

//encabezado del popover
.popover-header {
  font-size: 1.05rem;
  background: $secondary-bg-subtle !important; 
  cursor: pointer;
}

@import '../bootstrap-5.3.8/scss/bootstrap.scss';
